:root {
  text-size-adjust: auto;
  font-size: 16px;
}

html {
  background-color: var(--background-color);
  color: var(--font-primary);
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

main {
  display: block;
  max-width: 80ch;
  padding: 0 1.02rem;
  margin: auto;
}

.post-detail div a {
  color: #fd0f82;
}

.post-detail div h2 {
  padding: 0.24em 0.48em;
  margin: 8px 0;
  color: #35495e;
  font-size: 1.4rem;
  font-weight: 900;
  border-left: solid 5px #42b883;
}

.post-detail div h3 {
  padding: 0.24em 0.48em;
  margin: 8px 0;
  color: #35495e;
  font-size: 1.2rem;
  font-weight: 800;
  border-left: solid 5px #35495e;
}

.post-detail div h4 {
  padding: 0.24em 0.48em;
  margin: 8px 0;
  color: #35495e;
  font-size: 1.1rem;
  font-weight: 700;
  border-left: solid 5px #ccc;
}

.post-detail div p {
  padding: 0.16em 0.24em;
  line-height: 2;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.post-detail div ol {
  padding: 0 0 0 2em;
  margin: 0;
  color: #35495e;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.post-detail div ul {
  padding: 0 0 0 2em;
  margin: 0;
  color: #35495e;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  list-style: disc;
}

.post-detail div dd {
  margin: 0 0 0 2em;
  font-size: 1rem;
  font-weight: 400;
}

.post-detail div table {
  margin: 10px 0 15px 0;
  font-size: 1rem;
  font-weight: 400;
  border-collapse: collapse;
}

.post-detail div td,
.post-detail div th {
  padding: 3px 10px;
  font-size: 1rem;
  font-weight: 400;
  border: 2px solid #ccb8a3;
}

.post-detail div th {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 400;
}

.post-detail div pre {
  padding: 1.2rem 0.8rem;
  overflow-x: scroll;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.post-detail div code {
  background-color: rgba(175, 184, 193, 0.4);
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
}

.post-detail div img {
  width: 80%;
  margin: 0 10%;
}

.post-detail div iframe {
  width: 100%;
}

.post-detail div details {
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

:root {
  --background-color: rgba(167, 123, 243, 0.1);
  --code-background: #1a2638;
  --font-primary: #303030;
}
